<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Modelo.Properties.Settings.DBHELPDESK01ConnectionString"
            connectionString="Data Source=192.168.0.21;Initial Catalog=DBHELPDESK01;User ID=usuario"
            providerName="System.Data.SqlClient" />
        <add name="Modelo.Properties.Settings.DBHELPDESK01ConnectionString1"
            connectionString="Data Source=192.168.0.21;Initial Catalog=DBHELPDESK01;Persist Security Info=True;User ID=usuario;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>